<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'am a Junior Developer living in Azerbaijan/Baku.</p>
    <p>I started building web apps with Ruby on Rails
      It's my first project for site portfolio <a href="#">Unicasts</a></p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A , %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">How do I learn "X"?</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">Strive for the uncomfortable</a></h3>
    <p class="date">Friday April 10th</p>
  </div>
</div>